@media only screen and (max-width: $screen-xs) {
    // blocks bottom margin
    .contacts {
        margin-bottom: 40px;
    }
	.mobile480-show {
		display:block;
	}
	.mobile480-hide {
		display:none;
	}
    .header,
    .footer,
    .pmenu,
    .top,
    .cases,
    .principles,
    .problems,
    .vacancies,
    .projects,
    .feedback,
    .service,
    .news,
    .who-we-are,
    .not-all-the-same,
    .team,
    .to-work,
    .some-projects,
    .dummy__container,
    .client__info,
    .client__cases,
    .client__breadcrumbs,
    .client__header,
    .service-descr__accordion,
    .vacancypage,
    .custom-format,
    .body_astralinux>.container{
        padding-left:20px;
        padding-right:20px;
    }
    .body_news-ver2{
        .top .container{
            padding-left:20px;
            padding-right:20px;
        }
        .editorial-container{
            padding: 0 20px 40px;
            &__toc{
                max-width: none;
                width:calc(100% - 40px);
                max-height: none;
                right:20px;
            }
        }
		&.body_news{
			.news-top{
				min-height:318px;
				&__image img{
					min-height:318px;
				}
			}
			.news-top__container{
				.h1,
				h1{
					font-size:36px;
				}
			}
		}
    }
    .pmenu{
        &__menu{
            a,
            span{
                width:100%;
            }
        }
    }
    .cases{
        &__case{
            min-height:180px!important;
            &_info{
                grid-column-end:initial;
                width:43vw!important;
                height: 180px;
                .cases__case_number{
                    font-size:36px;
                    padding: 20px 20px 0;
                }
                .cases__case_name{
                    font-size:14px;
                    padding: 10px 0 20px 20px;
                    p {
                        font-size: 18px;
                    }
                }
                .cases__case_desc{
                    font-size:12px;
                    padding:20px 0 20px 20px;
                }
                .cases__case_photo{
                    img{
                        max-width:36px;
                    }
                    &-large{
                        img {
                            max-width: 60px;
                        }
                    }
                }
            }
        }
    }
    .main{
        .cases{
            &__case{
                min-height: 0 !important;
            }
        }
    }
    .project.project_wide-client {
        height: 180px;
    }
    .case-stages + .vacancies {
        margin-top: 40px !important;
    }
    .vacancies{
        margin-top: -42px;
        margin-bottom: 50px;
        &__container{
            padding:10px 0 0 0;
        }
        &__list{
            &_item{
                width:100%;
                padding-bottom:calc(100% - 60px);
                &.final{
                    width:100%;
                    padding-top:0;
                    margin-bottom: 60px;
                    p{
                        font-size:16px;
                        margin-bottom:16px;
                    }
                    .button{
                        margin-top:20px;
                    }
                }
                &[data-city] {
                    .vacancy__title {
                        &::before {
                            font-size: 46px;
                        }
                    }
                }
            }
        }
        
    }
    .problems{
        &__review{
            &_top{
                &-img{
                    max-width:60%;
                }
            }
            &_body{
                width:50%;
            }
            &_author{
                &-name{
                    font-size:16px;
                }
                &-position{
                    font-size:14px;
                    max-width:100%;
                }
            }
        }
    }
    .projects{
        .project{
            &__review{
                &_top{
                    min-height:210px!important;
                    padding: 20px;
                    justify-content:space-around;
                    &-img._5ka {
                        bottom: -17px;
                    }
                }
                &_rubr{
                    font-size:14px;
                    margin:0;
                }
                &_author-name{
                    font-size:24px;
                    margin:0;
                }
                &_author-position{
                    font-size:14px;
                    left:auto;
                    top:30%;
                    &._5ka {
                        max-width:60%;
                        font-size:12px;
                    }
                }
                &_body {
                    padding:30px 20px;
                    margin: 0;
                }
            }
            &__article_small {
                flex-direction:row;
				.project-article_link{
					padding:16px;
				}
                .project-article_link-title {
                    width:100%;
					min-height:0;
                    margin-right:0;
                }
				.project-article_link-arrow{
					left:16px;
					bottom:16px;
					max-width:calc(100% - 32px);
				}
            }
        }

        &__panels {
            grid-template-rows: 1fr;
        }
        &-client {
            margin-bottom: 0;
            .cases__case{
                margin: 0;
                &_name{
                    padding: 0 0 20px 20px;
                }
                &_info{
                    height: 210px;
                }
            }
        }
    }
    .feedback{
        position: relative;
        &__comment{
            font-size:9px;
        }
        h2{
            font-size: 24px;
            width: 70% !important;
        }
        &_compact{
            padding: 10px 30px 25px 15px !important;
            border-radius: 30px 30px 0 0;
            height: 240px;
        }
        &::after {
            content: "";
            position: absolute;
            background: $color-white;
            width: 100%;
            height: 50px;
            top: 210px;
            left: 0;
            border-radius: 30px 30px 0 0;
            display: none;
        }
        &.feedback_compact {
            margin-bottom: 0 !important;
        }
        .feedback__button{
            .pulse-button {
                width: 45px;
                height: 45px;
                &:before {
                    transform: scale(.6);
                    top: 1px;
                    right: 3px;
                }
            }
        }
    }
    .feedback ~ .projects {
        border-radius: 30px 30px 0 0 !important;
        position: relative;
        padding-top: 40px;
    }
    .footer{
        &__social{
            width:100%;
            margin: 24px 0 42px;
            flex-flow: row wrap;
            justify-content: start;
        }
        &__menu{
            // span,
            a{
                width:50%;
            }
        }
    }
    .service {
        &__header{ 
            font-size: 36px;
        }
        &__feature {
            &_inner {
                &-case {
                    grid-template-columns: auto;
                    grid-template-rows: auto auto;
                    &__visual {
                        width: 100%;
                    }
                    &__brief {
                        &-title{
                            font-size: 5.4vw;
                        }
                    }
                }
            }
        }
    }
    .client {
        &__header{
            font-size: 36px;
        }
        &__breadcrumbs {
            font-size: 9px;
            line-height: 130%;
            margin-bottom: 40px;
        }
        &__present {
            min-height: 270px;
            margin-bottom: 40px;
            &.venn {
                min-height: 360px;
                margin-bottom: 40px;
            }
            &-play {
                width: 12vw!important;
                left: 44vw!important;
                top: 28vw;
            }
        }
        &__info {
            margin-bottom: 40px;
            .cases-slider__item_nomination .h2{
                font-size: 36px!important;
            }
            & > .cases__case {
                margin-top: 30px;
            }
            .cases-slider{
                &__item{
                    &_nomination{
                        width:100%;
                        flex-grow:1;
                        padding: 18px 8px 16px 24px;
                        .h2{
                            font-size:46px;
                        }
                        p{
                            font-size:16px;
                        }
                    }
                    &_project{
                        width:100%;
                        height:100%;
                        flex-grow:1;
                        &-link{
                            font-size:12px;
                        }
                    }
                }
                &__statics{
                    height:50%;
                    &_dots{
                        top:72px;
                        width:50%;
                    }
                    &_title{
                        top:40px;
                        width:100%;
                        font-size:14px;
                    }
                }
            }
            &_stats {
                grid-template-columns: 1fr;
                grid-template-rows: auto;
                margin-bottom: 30px;
                &-state{
                    width:100%;
                    &__prop, &__value{
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
            &_text > p {
                font-size: 14px;
                &:first-child {
                    margin-bottom: 10px;
                }
            }
        }
        &__cases{
            &_block{
                flex-direction: column;
                align-items: flex-start;
                padding: 20px 0;
                &-name{
                    font-size: 24px;
                    margin-right: 0;
                }
                &-parts {
                    flex-direction: row;
                    &__feature {
                        font-size: 12px;
                        margin-bottom: 0;
                    }
                }
            }
            &_header {
                font-size: 28px;
            }
        }
        &__grid{
            margin-bottom: 40px;
            &-projects {
                img{
                    max-height: 210px;
                }
            }
        }
    }
    .request {
        margin-bottom: 60px;
        &__title{
            margin: 40px 0;
        }
        .container{
            padding:0 15px;
        }
        &__form{
            &_warning{
                font-size: 16px;
            }
            &_tip{
                font-size: 16px;
                margin-bottom: 0;
            }
        }
    }
    .years{
        &__year{
            font-size:46px;
            padding:30px 0;
        }
        &__bullet{
            margin-top:-43px;
        }
    }
    .case2 {
        .circle{
            transform: scale(.7);
            top: 20%;
            &-text__item_label{
                font-size: 21px;
            }
        }
        &__kpiWrapper {
            .circle-about{
                margin-bottom: 150px;
            }
        }
        .project_tall{
            padding-bottom: 200%!important;
        }
        .project_tall:last-child{
            margin-bottom: 50px;
        }
        .principles {
            &__content{
                &_buttons {
                    margin: 40px 0 60px;
                    justify-content: space-between;
                }
            }
        }
    }
    .case__alfa_problems-item__text{
        font-size: 5.835vw;
    }
    .vacancy{
        max-height: 188px;
        padding-bottom: 128px;
        transition: all 0.25s;
        &__container{
            background:url($img-path + "vacancy-bg.svg") top right no-repeat $color-grey-light;
            max-height: 188px;
            transition: all 0.25s;
        }
        &__title {
            background:transparent!important;
            height: auto!important;
			padding:35px 25px !important;
            &_icon {
                transition: transform .25s;
                margin-bottom: 20px;
            }
        }
        &__body{
            position:relative;
            top:0;
            border-radius:$border-radius;
            background:transparent!important;
            margin-top:0!important;
            padding:10px 25px 25px!important;
            color:$color-blue-dark!important;
            height:100%;
            font-size:16px;
            display:flex;
            flex-direction:column;
            transition:top 0.5s step-end, height 0.5s step-end, background 0.5s step-end;
            &_link{
                margin-top:10px!important;
                height: 46px;
                padding: 14px 0px;
                background: $color-blue-dark;
                border-radius: 100px;
                color: $color-white !important;
            }
            &_item{
                margin-bottom:0px!important;
            }
        }
        &_send {
			.vacancy__title_name{
				p{
					&:first-child{
						margin-bottom:10px;
					}
				}
			}
            .vacancy__body_item{
                display: none;
            }
            .vacancy__container {
                background: $color-white;
            }
            .vacancy__body {
                height: 46px;
                padding: 0px 22px;
            }
        }
        &:hover{
            &__title{
                &_icon {
                    margin-bottom: 20px;
                }
            }
            &__body{
                background:$color-white;
                transition: none;
            }
        }
    }
    .cases__pagination{
        &-arrows {
            + .cases-slider__statics_dots {
                display: block!important;
                visibility: unset!important;
                margin: -40px auto 20px auto;
                + .cases__pagination-button{
                    display: none;
                }
            }
        }
    }
    .case3 {
        &__container_rate {
            display: block!important;

        }
        .circle{
            &-pic {
                background-size: 200px!important;
                width: 200px;
                height: 200px;
            }
        }
        &__content {
            grid-template-rows: 450px 450px;
            &_card {
                >* {
                    padding: 0 20px;
                }
                &-tip {
                    font-size: 14px;
                    margin-bottom: 30px;
                }
                &-main {
                    font-size: 28px;
                }
                &-accent {
                    font-size: 48px;
                }
            }
        }
    }
    .case {
        &-stages{
            &__layout{
                &_inner {
                    padding: 20px;
                    &-centered{
                        padding: 40px;
                    }
                }
            }
        }
    }
    .problems-slider-groups {
        &__statics {
            &_arrows {
                &-sp {
                    height: 50px;
                    width: 50px;
                    line-height: 56px;
                    top: calc(50% - 25px);
                }
                &-left {
                    left: 20px;
                    svg {
                        margin: 9px 15px 6px 12px;
                    }   
                }
                &-right {
                    right: 20px;
                    svg {
                        margin: 9px 12px 6px 15px;
                    }
                }
            }
        }
    }
    .news .news-item__lead {
        font-size: 14px;
    }
    .who-we-are__widget, .not-all-the-same, .cases{
        margin-bottom: 40px;
    }
    .who-we-are__widget_item{
        .cases{
            &__case{
                min-height:unset!important;
                &_info {
                    width: 100%!important;
                }
            }
        }
		.tns-outer{
			.cases__case_name{
				font-size: 10px !important;
				padding: 0 5px !important;
			}
		}
        .vacancy__title_name{
            font-size: 16px;
            padding-bottom: 20px;
        }
    }
    .projects {
        padding-top: 40px;
        h2,
        .h2{
            margin-bottom: 40px;
            
        }
        &__panels {
            margin-bottom: 40px;
        }
    }
    .icon_arrow {
        width: 56px;
        height: 56px;
    }
    .category{
        &__content{
            padding: 60px 20px 120px 20px;
        }
    }
    .principles{
        &__content{
            p{
                font-size: 14px;
            }
            &_text{
                .button{
                    width: 100%;
                }
            }
        }
    }
    .accordion__item{
        .active{
            &_body{
                padding-bottom: 40px;
            }
        }
    }
    .service-descr__accordion{
        margin-bottom: 60px;
    }
    .news .news-item__tag{
        font-size: 12px;
    }
    .top{
        .h1{
            font-size:36px;
        }
    }
    .news {
        margin-bottom: 40px;
        .news-item.txt{
            border-radius: 30px;
        }
        .news-item__img{
            border-radius: 30px;
        }
        &.news_more{
            margin-top: -30px;
            margin-bottom: 92px;
        }
    }
    .main,
    .cases_portfolio{
        .cases__case_name{
            font-size: 14px;
        }
    }
    .not-all-the-same {
        &_background {
            margin-bottom: 0!important;
            padding-top: 40px;
            padding-bottom: 80px;
        }
    }
    .who-we-are,
	.news{
        margin-top: -60px;
        background: $color-white;
        border-radius: 30px 30px 0 0;
        padding-top: 60px;
		position:relative;
        &_portfolio{
            position:static;
            margin-top: 0px;
            padding-top: 0;
            .cases__filter .select{
                margin-bottom: 40px;
            }
        }
    }
    .breadcrumbs{
        li{
            &::after{
                top:-1px;
            }
        }
    }
    .contacts {
        &__title {
		    margin: 60px 0;
        }
    }
    .body_blog{
        .news_top{
            margin-top: 0;
            padding-top: 40px;
        }
    }
    .body_aurora {
        .service__feature_inner-case__brief {
            padding: 20px 20px 30px 25px;
            height: 190px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            &-title {
                font-size: 22px;
            }
            &-transition {
                font-size: 14px;
                margin-top: 0px;
            }
        }
        .top {
            h1 {
                font-size: 48px;
            }
        }
    }
    .body_astralinux {
        .feedback.feedback_astralinux .content-container .info {
            width: 100%;
        }
        .feedback.feedback_compact {
            padding-left: 0!important;
            padding-right: 0!important;
        }
        .top {
            h1 {
                font-size: 48px;
            }
        }
        .service__feature_inner {
            width: 100%;
            &-case {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;
                &__visual_full-wrapper {
                    height: unset!important;
                }
                &__brief-transition {
                    margin-top: unset;
                }
            }
        }
        .some-projects {
            .service__feature_inner-case__brief-title {
                font-size: 21px;
            }
            .service__feature_inner-case__brief-transition {
                margin-top: 20px;
                font-size: 13px;
            }
        }
    }
	.body_news-ver2 .editorial-container__toc-inner.fixed{
		max-width:calc(100% - 40px);
	}
    .astralinux-benefits {
        .content-card-image {
            border-radius: 20px;
        }
    }
    // redesign

    .top.redesign,
    .redesign-features,
    .redesign-graphics,
    .redesign-projects,
    .redesign-blog,
    .subheader,
    .expert,
    .redesign-portfolio,
    .redesign-common,
    .redesign-experty,
    .redesign-archive,
    .preservice {
        .container {
            max-width: 100%;
            margin: 0;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .top.redesign {
        padding: 0;
    }
    
    .preservice {
        &-blocks {
            .card {
                &-head {
                    font-size: 28px;
                }
                &-text {
                    font-size: 16px;
                }
                &-tags-tag {
                    font-size: 14px;
                }
                &-link {
                    font-size: 16px;
                }
            }
        }
        &-header {
            &-wrapper {
                h1 {
                    font-size: 36px;
                }
            }
        }
        &-top {
            &-wrapper {
                margin-bottom: 50px;
                flex-flow: column nowrap;
                gap: 40px;
                svg {
                    width: auto;
                }
            }
        }
    }
    .subheader{
        margin-bottom: 40px;
    }
    //--
    .expert {
        &-content {
            .slide-left-part {
                .tezis {
                    gap: 10px;
                    &-header {
                        font-size: 30px;
                    }
                }
            }
        }
    }
    .footer__menu-list-wrapper{
        gap: 30px;
    }
    .footer .text a {
        font-size: 18px;
    }
    .expert {
        &-header {
            font-size: 32px;
        }
    }
    .expert {
        &-content {
            .slide {
                &-left-part {
                    .tezis {
                        flex-flow: column nowrap;
                        gap: 20px;
                    }
                }
            }
        }
    }
    .top.redesign {
        margin-bottom: 60px;
    }
    
    .redesign {
        &-features {
            &-list {
			    letter-spacing: 1.2px;
            }
        }
        &-feedback {
            &-text {
                font-size: 16px;
            }
        }
        &-blog {
            padding-top: 40px;
        }
        &-archive {
            &__header {
                font-size: 60px;
            }
            .card {
                &__head {
                    font-size: 36px;
                }
                &__desc {
                    font-size: 16px;
                }
                // .component-tags.tags {
                //     .tag {
                //         font-size: 14px;
                //     }
                // }
            }
        }
        &-acrhive,
        &-feedback
        {
            .container {
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .who-we-are__widget{
        grid-template-columns: 1fr;
        grid-gap:30px;
        &_item{
            width: 100%;
            &.double{
                margin-bottom: 14px;
                grid-row-end:unset;
                grid-column-end:unset;
                .who-we-are__widget_container{
                    .problems__item h3{
                        font-size: 16px;
                    }
                }
            }
        }
        .vacancies{
            margin:0;
        }
    }
    .who-we-are__widget{
        .who-we-are__widget_container{
            .cases__case_name, .vacancy__title_name, .problems__item h3{
                font-size: 5vw;
                padding-right: 20px;
            }
            .cases__case .cases__case_photo img {
                width: 20vw;
                max-width: 90px;
            }
            .problems__more::before{
                width: 58px;
                height: 58px;
            }
            .problems__item {
                padding: 30px 30px calc(100% - 30px);
                .problems__more{
                    font-size: 14px;
                    &::before{
                        margin:-10px 17px 0px 0;
                    }
                    &::after{
                        left: -28px;
                        top: 19px;
                        transform: scale(1.3);
                    }
                }
            
            }
        }
        .vacancies{
            margin:0;
        }
    }
    .who-we-are__widget_item.double{
        padding-bottom: 130%;
    }
    .case2 {
        .project_tall:last-child{
            padding-bottom: 140%!important;
        }
    }
    .problems{
        &__item{
            &-compact {
                padding-bottom:calc(85%);
            }
        }
    }
    .body_career .top .h1{
        font-size: 42px;
    }
    .client{
        &__grid{
            grid-template-rows: auto 1fr 1fr auto;
            gap: 15px;
            &_card{
                &-std {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    min-height: 190px;
                }
                &-tall{
                    &__info{
                        padding: 20px 20px;
                    }   
                }
                &-wide{
                    &__image{
                        max-width: 48%;
                    }
                }
                &-heading{
                    font-size: 6vw;
                }
                &-tall__preview_info-undertext{
                    font-size: 14px;
                }
                &-content, &-wide__info-content, &-tall__preview_info-heading{
                    font-size: 14px;
                }
            }
            &-projects{
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr auto auto 1fr;
                .client__grid_card-tall{
                    &__whole{
                        &_info{
                            padding: 30px 15px 0 15px;
                        }
                    }
                }
                .client__grid_card-wide{
                    .cases-slider__item_nomination{
                        padding: 15px;
                    }
                }
            }
        }
    }
    .case-stages{
        .projects_case{
            .case2__kpiWrapper{
                padding-bottom: 120% !important;
            }
        }
    }
	.not-all-the-same.not-all-the-same_background .projects .project__article_small{
		.project-article_link{
			padding:20px 15px;
			&-title{
				font-size:13px;
                padding-bottom: 0;
			}
			&-arrow{
                display: none;
				left:15px;
			}
		}
	}
    .cases{
        &__case{
            &_double{
                .cases-slider__item_nomination{
                    padding:15px 11px 15px 15px;
                    .h2{
                        font-size: 42px;
                    }
                    p{
                        font-size: 13px;
                    }
                }
            }

        }
    }
    .astralinux {
        &-client {
            .content-container {
                .content-card {
                    width: 100%;
                    &:hover {
				        color: $color-blue-light;
                        box-shadow: unset;
                    }
                    &.transition-2 {
                        align-self: flex-start;
                        transform: unset;
                    }
                    &.transition-3 {
                        align-self: flex-start;
                        transform: unset;
                    }
                    &.transition-4 {
                        align-self: flex-start;
                        transform: unset;
                    }
                    &.transition-5 {
                        align-self: flex-start;
                        transform: unset;
                    }
                }
            }
        }
    }
    .body_astralinux {
        .team {
            .team__slider {
                .teammate__body {
                    &_name {
                        font-size: 5vw;
                        top: calc(100% - 214px - 15px);
                    }
                    &_position {
                        top: calc(100% - 214px + 12px);
                        line-height: 16px;
                    }
                }
            }
        }
        .service__feature_inner {
            &-case {
                grid-template-columns: 1fr;
            }
        }
        .service__feature_inner-case {
            display: block;
        }
        .service__feature_inner-case__visual_full {
            width: unset;
            height: unset;
        }
    }

    // redesign
    .subheader{
        &-grid {

            &-card {
                svg {
                    width: 110px;
                }
            }
        }
    }
    .redesign-projects-slide .wrapper {
        width: calc(100% - 23px);
        .tags .tag {
            font-size: 3vw;
        } 
    }
}

// redesign only
@media only screen and (max-width: 390px) {
    .preservice {
        &-blocks {
            .card {
                &-head {
                    font-size: 26px;
                }
            }
        }
        &-header {
            &-wrapper {
                h1 {
                    font-size: 32px;
                }
            }
        }
        &-top {
            &-wrapper {
                margin-bottom: 40px;
            }
        }
    }
    .subheader-grid {
        &-card {
                aspect-ratio: unset;
            &-double {
                aspect-ratio: 2;

            }
            svg {
                width: 110px;
            }
        }
    }
    .top.redesign {
        margin-bottom: 20px;
    }
    .redesign {
        &-portfolio {
            &__list {
                .card {
                    &__wrapper {
                        .head {
                            font-size: 5.5vw;
                        }
                        .desc {
                            font-size: 4vw;
                        }
                    }
                }
            }
        }
    }
}
// --

@media only screen and (max-width: 375px) {
    .top{
        &__buttons{
            min-width:0;
        }
    }
    .footer{
        &__social{
            width:100%;
        }
		&__copyright_about{
			margin-left:0 !important;
		}
	}
    .problems{
        &__item{
            h3{
                font-size:24px;
            }
            p{
                font-size:16px;
            }
        }
    }
    .client {
        &__present {
            margin-bottom: 0px;
        }
    }
    .projects{
        .project{
			&__review_rubr{
				margin-bottom:0;
			}
			&__review_body-client{
				margin-top:10px;
				margin-bottom:15px;
                &__tele2{
                    margin: 0;
                }
			}
            &.project-with-slider{
                padding-bottom:200%;
                .cases-slider{
                    &__item{
                        flex-direction:column;
                        &_nomination{
                            width:100%;
                            flex-grow:1;
                            padding-left:23px;
                            padding-right:23px;
                            .h2{
                                font-size:46px;
                            }
                            p{
                                font-size:16px;
                            }
                        }
                        &_project{
                            width:100%;
                            height:100%;
                            flex-grow:1;
                            &-link{
                                font-size:12px;
                            }
                        }
                    }
                    &__statics{
                       height:50%;
                        &_dots{
                            top:-30px;
                            width:100%;
                        }
                        &_title{
                            top:40px;
                            width:100%;
                            font-size:14px;
                        }
                    }
                }
            }
        }
    }
    .service__section_info-title {
        font-size: 24px;
    }
    .service__feature_info-title {
        font-size: 28px;
    }
    .service__section_info-description, .service__feature_info-description, .service__feature_inner-case__brief-title{
        font-size: 16px;
    }
    .service__feature_inner-case__brief-transition {
        font-size: 12px;
    }
    .who-we-are__widget_item.double{
        padding-bottom: 145%;
    }
    .case3 {
        &__content {
            grid-template-rows: 400px 400px;
            &_card {
                &-tip {
                    font-size: 14px;
                    margin-bottom: 30px;
                }
                &-main {
                    font-size: 24px;
                }
                &-accent {
                    font-size: 42px;
                }
            }
        }
    }
    .cases{
        &__case{
            &_info{
                .cases__case_photo{
                    &-large{
                        img {
                            max-width: 36px;
                        }
                    }
                }
            }
        }
    }
    .case2 {
        .circle{
            transform: scale(.5);
        }
    }
    .main{
        .cases{
            &__case{
                min-height: 150px !important;
                &_double{
                    .cases-slider__item_nomination{
                        padding: 15px 10px;
                    }
                }
            }
        }
    }

    .body_astralinux {
		.team__slider {
            .teammate__body {
                &_name {
                    top: calc(100% - 214px - 45px);
                }
            }
        }
    }
    //redesign 
    
    .expert {
        &-header {
            font-size: 26px;
        }
        &-content {
            .slide-left-part {
                .tezis {
                    &-header {
                        font-size: 28px;
                    }
                }
            }
        }
    }
}