@media only screen and (max-width: $screen-xs) {
	.mobile480-show{
		display:block;
	}
	.mobile480-hide{
		display:none;
	}
    .pmenu{
        &__menu{
            a,
            span{
                width:100%;
            }
        }
    }
    .cases{
        &__case{
            &_info{
                .cases__case_number{
                    font-size:32px;
                }
                .cases__case_name{
                    font-size:9px;
                }
                .cases__case_photo{
                    img{
                        max-width:36px;
                    }
                }
            }
        }
    }
    .vacancies{
        margin-top: -42px;
        &__container{
            padding:60px 0;
        }
        &__list{
            &_item{
                width:100%;
                padding-bottom:calc(100% - 60px);
                &.final{
                    width:100%;
                    padding-top:30px;
                    p{
                        font-size:16px;
                        margin-bottom:16px;
                    }
                    .button{
                        margin-top:20px;
                    }
                }
            }
        }
    }
    .problems{
        &__review{
            &_top{
                &-img{
                    max-width:60%;
                }
            }
            &_body{
                width:50%;
            }
            &_author{
                &-name{
                    font-size:16px;
                }
                &-position{
                    font-size:14px;
                    max-width:100%;
                }
            }
        }
    }
    .projects{
        .project{
            &__review{
                &_top{
                    padding:24px 23px;
                }
                &_rubr{
                    font-size:12px;
                }
                &_body{
                    font-size:14px;
                }
                &_author{
                    padding:33px 23px 40px;
                    &-name{
                        font-size:16px;
                    }
                    &-position{
                        font-size:14px;
                    }
                }
            }
        }
    }
    .feedback{
        &__comment{
            font-size:9px;
        }
        h2{
            font-size: 24px;
        }
        &_compact{
            padding: 10px 30px 25px 15px;
        }
    }
    .footer{
        &__social{
            width:70%;
        }
        &__menu{
            a,
            span{
                width:100%;
            }
        }
    }
    .service {
        &__feature {
            &_inner {
                &-case {
                    grid-template-columns: auto;
                    grid-template-rows: auto auto;
                    &__visual {
                        grid-template-rows: repeat(2, calc(50vw - 40px));
                        grid-template-columns: repeat(2, calc(50vw - 40px));
                        width: 100%;
                        padding: 20px;
                    }
                }
            }
        }
    }
    .client {
        &__breadcrumbs {
            font-size: 9px;
            line-height: 130%;
            margin-bottom: 40px;
        }
        &__info {
            & > .cases__case {
                min-height: 580px;
            }
            .cases-slider{
                &__item{
                    flex-direction:column;
                    &_nomination{
                        width:100%;
                        flex-grow:1;
                        padding-left:23px;
                        padding-right:23px;
                        .h2{
                            font-size:46px;
                        }
                        p{
                            font-size:16px;
                        }
                    }
                    &_project{
                        width:100%;
                        height:100%;
                        flex-grow:1;
                        &-link{
                            font-size:12px;
                        }
                    }
                }
                &__statics{
                   height:50%;
                    &_dots{
                        top:-30px;
                        width:100%;
                    }
                    &_title{
                        top:40px;
                        width:100%;
                        font-size:14px;
                    }
                }
            }
            &_stats {
                grid-template-columns: 1fr;
                grid-template-rows: auto;
                .client__info_stats-state{
                    width:100%;
                }
            }
        }
        &__cases{
            &_block{
                &-name{
                    font-size: 24px;
                }
            }
        }
    }
    .request {
        &__lead{
            height:24px;
        }
        &__form{
            &_warning{
                font-size: 16px;
            }
        }
    }
    .body_career {
        .top {
            background: url(img/career480.jpg) top center no-repeat;
            background-size:auto;
        }
    }
    // .top_case{
    //     .top__image{
    //         &-mobile{
    //             display: block;
    //         }
    //         &-tablet {
    //             display: none;
    //         }
    //     }
    // }
    .years{
        &__year{
            font-size:46px;
            padding:30px 0;
        }
        &__bullet{
            margin-top:-43px;
        }
    }
}

@media only screen and (max-width: 375px) {
    .top{
        &__buttons{
            min-width:0;
        }
    }
    .footer{
        &__social{
            width:100%;
        }
		&__copyright_about{
			margin-left:0 !important;
		}
	}
    .problems{
        &__item{
            h3{
                font-size:24px;
            }
            p{
                font-size:16px;
            }
        }
    }
    .projects{
        .project{
            &.project-with-slider{
                padding-bottom:200%;
                .cases-slider{
                    &__item{
                        flex-direction:column;
                        &_nomination{
                            width:100%;
                            flex-grow:1;
                            padding-left:23px;
                            padding-right:23px;
                            .h2{
                                font-size:46px;
                            }
                            p{
                                font-size:16px;
                            }
                        }
                        &_project{
                            width:100%;
                            height:100%;
                            flex-grow:1;
                            &-link{
                                font-size:12px;
                            }
                        }
                    }
                    &__statics{
                       height:50%;
                        &_dots{
                            top:-30px;
                            width:100%;
                        }
                        &_title{
                            top:40px;
                            width:100%;
                            font-size:14px;
                        }
                    }
                }
            }
        }
    }
    .service__section_info-title {
        font-size: 24px;
    }
    .service__feature_info-title {
        font-size: 28px;
    }
    .service__section_info-description, .service__feature_info-description, .service__feature_inner-case__brief-title{
        font-size: 16px;
    }
    .service__feature_inner-case__brief-transition {
        font-size: 12px;
    }
}